@charset "UTF-8";
/*Обнуление*/
@import url('reset.css');
/*--------------------------------------*/
html, body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Work Sans', sans-serif;
  background-color: #FAFAFA;
}
.wrapper {
  margin:0 auto;
  max-width: 1200px;
  padding: 10px;
  display: flex;
  justify-content: center;
 }
 .form__container{
  display: flex;
  min-height: 481px;
  width: 665px;
  background-color: #fff;
 }

 .form__sidebar{
  flex:0 1 21%;
  background-color: #5A61ED;
  position:relative;
  }
 
 .form__sidebar-text {
  position:absolute;
  display: inline;
  right: 6.5px;
  bottom:22.5px;
  white-space: nowrap;
  transform:rotate(-90deg) translate(50%, 50%);
  font-family: PT Sans;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  text-align: left;
  color:#fff;  
 }
 @media(max-width:550px){
  .form__container{
    display: block;
  }
  .form__sidebar{
    height: 90px;
    width: 100%;
  }
  .form__sidebar-text{
   left: 6.5px;
   bottom:18px;
   transform:rotate(0deg); 
   font-size: 34px;
  }
 }
 @media(max-width:479px){
  .form__sidebar{
    height: 70px;
  }
  .form__sidebar-text{
   left: 6px;
   bottom:5px;
   font-size: 32px;
  }
 }
 .form {
  flex:0 1 79%;
  color:#fff;
  padding: 39px 22px 33px 21px;
  position: relative;
  z-index: 5;
}
/* .form::before{
  content:'';
  display: block;
  width: 79%;
  height: 79%;
  background: url('../img/Shape.svg') center / contain no-repeat;
  position: absolute;
  bottom:-40px;
  right: -40px;

} */
.form object{
  content:'';
  display: block;
  width: 79%;
  height: 79%;
  /* background: url('../img/Shape.svg') center / contain no-repeat; */
  position: absolute;
  bottom:-40px;
  right: -40px;
  z-index: 1;
}
.form__body {
  position:relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  z-index: 5;
}
.form__body::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8) url('/img/121212.gif') center / 100px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.form__body._sending::after{
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-family: WorkSans;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #111111;

 }
 .form__sub-title{
font-family: WorkSans;
line-height: 16px;
letter-spacing: 0px;
text-align: left;
color: #111111;
margin-bottom: 20px;
 }

 .form__block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 13px;
  margin: 0px 0px 16px 0px;
  position: relative;
  z-index: 5;
 }

.form__item {
  height: 42px;
  padding:0 0 6px 0;
  border-bottom: 0.7px solid #F2F2F2;
  width: 100%;
  }
  @media(max-width:479px){
    .form__block{
      display: grid;
      grid-template-columns: auto;
      margin: 0px 0px 0px 0px;
     }
     .form__item {
    margin-bottom: 20px;
      }
  }
.form__label {
display: block;
margin: 0px 0px 4.6px 0px;
font-family: WorkSans;
font-size: 12px;
line-height: 14px;
letter-spacing: 0px;
text-align: left;
color: #7C7C7C;

}
.form__input {
  width: 100%;
  line-height: 16px;
  letter-spacing: 0px;
  color:#111111
 
}
.form__input::placeholder{
line-height: 16px;
letter-spacing: 0px;
text-align: left;
color:#111111
}
.form__input:focus{
  box-shadow:0 0 15px #5A61ED;
  outline: 2px solid #5A61ED;
}
.form__input._error{
 border-bottom:1px solid rgb(212, 5, 5);
}

.options {
  display: flex;
  column-gap: 19px;
}
.options__item {
  margin: 0px 0px 10px 0px;
}
.options__input {
  display: none;
}
.options__input:checked + .options__label::after{
transform: scale(1);
}
.options__label {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color:#111111;
}
.options__label::before{
  content: "";
  flex:0 0 12px;
  align-self: flex-start;
  height: 12px;
  border-radius: 50%;
  border:1px solid #5A61ED;
  background-color: #fff;
  margin:0px 10px 0px 0px;
}
.options__label::after{
  position: absolute;
  content: "";
  top:3px;
  left:3px;
  width: 6px;
  height: 6px;
  background-color: #5A61ED;
  border-radius: 50%;
  transform:scale(0);
  transition: transform 0.4s ease 0s;
}
.select {
  width: 100%;
  height: 42px;
  font-size: 14px;
 }
.select:focus{
  box-shadow:0 0 15px #767be6;
   outline: 1px solid #5A61ED; 
 }

 .form__footer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex:1 1 auto;
  column-gap:15px;
  row-gap: 10px;
  flex-wrap: wrap-reverse;
  position: relative;
  z-index: 5;
 }
 .form__link{
  font-family: Work Sans;
  font-size: 13px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color:#000;
 }
 
 .form__link a {
  color:#5A61ED;
  transition: color 0.4s ease;
  
  }
 .form__link a:hover {
  font-weight: 400;
  color:#1d27dd
  }
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px;
  padding:7px 25px;
  background-color:#5A61ED;
  color: #fff;
  font-family: PT Sans;
  line-height: 18px;
  letter-spacing: 0px;
  transition: background-color 0.4s ease 0s;
  position:relative;
}
.form__button:hover{
  background-color:#151ec2;
}
@keyframes shake {
  0%{left:-10px;}
  25%{left:0px;}
  50%{left:10px;}
  75%{left:0px;}
  100%{left:-10px;}

}
.form__button.error-animate{
  animation: shake .3s linear 0s;
  background-color:red;
}
.form__feedback{
  flex:1 1 auto;
  padding-top: 178px;
  padding-left:43px;
}
@media(max-width:550px){
  .form__feedback{
    flex:1 1 auto;
    padding-top: 8px;
    padding-left:13px;
  }
}
